# GEMINI_API_KEY
GEMINI_API_KEY="MY_GEMINI_API_KEY"


# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# JWT_SECRET: Secret key for signing JSON Web Tokens in authentication.
JWT_SECRET="MY_JWT_SECRET-KEY"

# Qdrant Vector Database Configuration
QDRANT_URL="your-qdrant-instance-url"
QDRANT_API_KEY="your-qdrant-api-key"

